html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 62.5%;
}
html *,
body * {
  font-size: 1.4rem;
}
footer {
  height: 3rem;
  width: 100%;
  background-color: #ff5722;
  color: #fff;
  line-height: 3rem;
  text-align: center;
}
header {
  height: 5rem;
  width: 100%;
  text-align: center;
  background-color: #ff5722;
  color: #fff;
  line-height: 5rem;
  font-size: 2rem;
}
header .header-button {
  text-align: center;
  flex-basis: 5rem;
  height: 5rem;
  line-height: 5rem;
  background-color: #ff5722;
  box-sizing: border-box;
}
header .header-title {
  flex: 1;
  height: 5rem;
  line-height: 5rem;
  color: #fff;
  border: none;
  outline: none;
  background: #ff5722;
  padding: 0 1rem;
  font-size: 1.6rem;
  box-sizing: border-box;
}
header {
  display: flex;
}
.header-title {
  padding: 20% 0;
  position: relative;
}
.header-title .icon-search {
  position: absolute;
  left: 1.5rem;
  top: 0;
  color: #ccc;
  font-size: 1.6rem;
  padding-top: 0.1rem;
}
.header-title .icon-trans {
  position: absolute;
  right: 1.5rem;
  top: 0;
  color: #ccc;
  font-size: 1.6rem;
  padding-top: 0.3rem;
  transform: rotate(90deg) scaleY(1.3);
  -webkit-transform: rotate(90deg) scaleY(1.3);
}
.header-title input {
  width: 100%;
  height: 60%;
  color: #000;
  border: none;
  outline: none;
  background: #fff;
  padding: 0 2.5rem;
  margin: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
#search {
  padding-right: 1rem;
}
