@import "../common.styl"

base()

header
  line-height $header-height + 2rem
  display flex
  .header-title
    font-size 2.2rem

.search-box
  height 8rem

.hot-words
  line-height 3rem
  font-size 1.6rem
  padding 1rem