@import "../common.styl"

html, body
  margin 0
  padding 0

.loading
  display none
  position fixed
  top 50%
  left 50%
  width 10rem
  height 5rem
  line-height @height
  margin-left (@width / 2) * -1
  margin-top (@height / 2) * -1 - 3rem
  text-align center
  &.show
    display block

.loading div
  width 0.5rem
  height 1.5rem
  background-color $main-color
  display inline-block
  animation load 0.5s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite
  -webkit-animation load 0.5s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite

.loading div:nth-child(1)
  animation-delay -0.5s

.loading div:nth-child(2)
  animation-delay -0.4s

.loading div:nth-child(3)
  animation-delay -0.3s

.loading div:nth-child(4)
  animation-delay -0.2s

.loading div:nth-child(5)
  animation-delay -0.1s

@keyframes load
  from
    transform scaleY(1)

  to
    transform scaleY(3)

@-webkit-keyframes load
  from
    transform scaleY(1)

  to
    transform scaleY(3)

#result
  padding 1rem
  .empty
    height 5rem
    line-height @height
    text-align center
    font-size 1.6rem
    position absolute
    top 50%
    width 100%
    margin-top (((@height + @font-size) / 2) * -1) - 6rem
  .item
    padding 1rem
    box-shadow 0 0 0.5rem #ccc
    box-sizing border-box
    word-break break-all
    margin-bottom 1rem
    &:last-of-type
      margin-bottom 0
    .title
      font-size 1.6rem
    .info
      .size, .time
        font-size 1.2rem
        color #666
        display inline-block
        width 50%
    .option
      text-align right
      span
        padding 0 0.5rem
        display inline-block
        color #aaa
        &.netdisk-115.active
          color #00a8ff
        &.thunder.active
          color #2f71f1
        &.copy, &.download
          color $main-color
