@import "../common.styl"

base()

body
  background-color $main-color

header
  display flex
  .header-title
    font-size 1.8rem
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
